#index_page_form {
    color: #141823;
    font-family: arial;
    font-size: 38px;
    width: 600px;
    margin: 100px auto;
}
#index_page_form .block{
    margin: auto;
}
#sub_block_2 {
    padding-left: 92px;
}
#sub_block_3 {
    padding-left: 189px;
}
#host_address {
    width: 400px;
    height: 40px;
    border-width: 1px;
    border-color: #141823;
    font-size: 40px;
    color: #141823;
    border-radius: 4px;
}
#submit_button {
    width: 200px;
    height: 40px;
    border-width: 0px;
    border-color: #141823;
    font-size: 36px;
    color: #141823;
    background-color: white;
}